/* Slide */
.slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.square {
  width: 50px;
  height: 50px;
  background: transparent;
  position: absolute;
  border: 4px solid #333;
  animation: rotateRight 5s linear infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(5px, -10px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-5px, -5px);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #333;
  animation: bounce 2s infinite;
  position: absolute;
}

.slide-2 .slider-content,
.slide-3 .slider-content,
.slide-4 .slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-radio1,
.slide-radio2 {
  display: none;
}