html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.slider-pagination label.light-mode {
    background: #021632;
}

.slider-pagination label.dark-mode {
    background: #E2F3FD;
}

body.light-mode {
    background: #E2F3FD;
}

.header .nav.scrolled.light-mode {
    background: #377ba1;
    color: rgb(255, 250, 250);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header .nav.scrolled.dark-mode {
    background: #0f1d24;
    color: rgb(55, 49, 49);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.slide-1.light-mode {
    background: #E2F3FD;
}

.slide-1.dark-mode {
    background: #1b2327;
}

.slide-2.light-mode {
    background: #E2F3FD;
}

.slide-2.dark-mode {
    background: #1b2327;
}

.slide-3.light-mode {
    background: #E2F3FD;
}

.slide-3.dark-mode {
    background: #1b2327;
}

.slide-4.light-mode {
    background: #E2F3FD;
}

.slide-4.dark-mode {
    background: #1b2327;
}

.slide-open.light-mode {
    background: #E2F3FD;
}

.slide-open.dark-mode {
    background: #1b2327;
}

.main.light-mode {
    background: #6eb1d6;
}

.main.dark-mode {
    background: #05202f;
}

.event.light-mode {
    background: #E2F3FD;
}

.event.dark-mode {
    background: #021632;
}

.about.light-mode {
    background: #6eb1d6;
}

.about.dark-mode {
    background: #1e292f;
}

.text-box.light-mode {
    background: #89cef1cc;
    color: #0f1d24;
}

.text-box.dark-mode {
    background: #021632;
    color: white;
}

.crew.light-mode {
    background: #e6e1dd;
}

.crew.dark-mode {
    background: #021632;
}

.crew h1.light-mode {
    color: #021632;
}

.crew h1.dark-mode {
    color: #d2dfe6;
}

.navbar.light-mode {
    background-color: rgb(213, 202, 202);
}

.navbar.dark-mode {
    background-color: rgb(31, 33, 54);
}

.nav-item.light-mode {
    color: #757575;
}

.nav-item.dark-mode {
    color: #c4c6d0;
}

.hero-container.dark-mode {
    background: linear-gradient(135deg, #001a2c 0%, #003a5b 100%);
}

.hero-container.light-mode {
    background: linear-gradient(135deg, #0b6db4 0%, #a6c3d4 100%);
}

.christmas-theme.dark-mode {
    background: linear-gradient(135deg, #0a2e38, #0c1a24);
}

.christmas-theme.light-mode {
    background: linear-gradient(135deg, #155cdf, #aec0e1);
}