.nav-mobile {
    width: 100vw;
    height: 60px;
    background-color: transparent;
    z-index: 1400;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    animation: navSlideIn 1.s ease-out forwards;
}

.holder {
    display: flex;
    width: 90%;
    background: #0f2027;
    height: 100%;
    border-radius: 40px;
    margin: 0 0 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: 0 0 0 20px;
    overflow: visible;
    position: relative;
}
.logo h1 {
    font-size: 1.1rem;
    overflow: visible;
    background: #142b35;
    padding: 9px;
    border-radius: 15px;
    font-weight: 500;
    transition: .4s all;
    color: white;
    user-select: none;
}
.logo h1:hover {
    font-size: 1.15rem;
    background: #282e4d;
    padding: 11px;
    border-radius: 16px;
}

@keyframes navSlideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .nav-mobile {
        display: none;
    }
}